body {
  margin: 0;
  background: white;
  color: #222;
  text-align: center;
  font-family: "Segoe UI", Arial, sans-serif;
}

h1 {
  margin-top: 10px;
  font-size: 2.4rem;
}

p {
  margin: 4px 0 10px;
}

#game {
  position: relative;
  width: 96%;
  max-width: 700px;
  height: calc(100vh - 180px); /* Full viewport height - top titles */
  margin: 0 auto;
  background: #f7f7f7;
  border-radius: 20px;
  border: 4px solid #000;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0,0,0,0.25);
}

#player {
  position: absolute;
  bottom: 20px;
  left: 315px;
  width: 80px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  transition: left 0.08s linear;
}

/* Enemy container */
.enemy {
  position: absolute;
  top: -70px;
  width: 60px;
  height: 60px;
}

/* Enemy image */
.enemy img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: wiggle 0.4s infinite alternate;
  /*remove backgrund*/
  
  background-color: transparent;
}

/* Funny duck wiggle */
@keyframes wiggle {
  from { transform: rotate(-12deg); }
  to { transform: rotate(12deg); }
}

#score {
  margin: 12px 0;
  font-size: 22px;
  font-weight: bold;
}
